/*Start My Framwork*/
*{
	margin: 0px;padding: 0px;
  
}
.navbar-toggle{
  margin-top: 16px;
  
}
.navbar{
border-radius: 0px;
border: none!important;
}
.style_for_me{
  margin-right: -202px;
}
.styleme{
  margin-top: 120px;
}
body{
  background-color: #f8f8f8;
 /* font-family: 'Dosis', sans-serif;*/
 /* font-family: 'El Messiri', sans-serif;*/
  font-family: 'Tajawal';
}

.justify{
  text-align: justify;
}
.header {
  padding: 4px 0px;
/*background: linear-gradient(180deg, #000000 0%, #200073 100%);*/
background-color:#161413 ;
}

.header .para_top {
float: right;
padding: 9px 0px;
}

.header .para_top span {
font-size: 17px;
color: #fff;

}
.header .para_top i{
  margin-left: 12px;
   font-size: 17px;
    color: #ed9797;
    font-weight: bold;
}

.social_media{
  float: left;
}
.social_media a{
      margin-left: 10px;
}
.social_media a  i{
      color: #fff;
    font-weight: bold;
    font-size: 23px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social_media ul{
  display: flex;
    list-style-type: none;
    margin: 0px;
}
.social_media ul li{
  
    color: black;
    padding: 10px 2px;
}
.social_media ul li img{
  margin-right: 10px;
  width: 28px;
}
.social_media ul .bor{
  border-left: 3px solid #fff;

}

.bottom_carsol{
  color: #fff;
    text-align: center;
    position: absolute;
    font-weight:bold;
    font-size: 29px;
    bottom: 0px;
    padding: 23px 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel-inner>.item{

  background:linear-gradient(286deg, #302021 0%, #040404 100%);
}

/*Start nav test*/
 @media (max-width: 767px){


.navbar-collapse {
    position: absolute!important;
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    width: 100%;
    background:#161413 !important;
    z-index: 1;
 
}

.imgheaderr {
    width: 90px!important;
    height: 46px!important;
    float: left;
    margin-left: 13px;
    margin-top: 5px;
    display: block!important;
}
}
/*End nav test*/

#main-container {

    overflow: clip;   
}

.btn-accepte{
background: #0062cc;
    padding: 6px 20px;
    text-decoration: none;
    color: #FFf;
    /* font-weight: bold; */
    border-radius: 6px;
    font-size: 17px;
    margin-right: 16px;

  }

  .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next,.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    background: #fff;
    width: 47px;
    height: 47px;
    text-align: center;
    line-height: inherit;
    border-radius: 50%;
    color: black;
    box-shadow: 0px 1px 5px 3px black;
  }
/*End My Framwork*/

/*Start Navigation bar*/
.navbar{
	margin: 0px;
}
.carousel-caption
{

  top:10%;
}
.navbar-fixed-top{

    transition: 0.8s;
    padding: 0px 0px 4px 0px;
}
.navbar-right{
  line-height: 67px;
 /* margin-right: 100px;*/
}
.navbar-default .navbar-nav > li > a {
font-weight: normal;
font-size: 14px;
font-weight: bold;

-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
color: #fff;
display: inline-block;
padding: 24px 8px;
font-family: 'Tajawal';

}


.navbar-default .navbar-nav > li > a i:hover{
  color:rgb(237 151 151);
}
.navbar-default{
  background-color:#161413 !important;
 /* border: 1px solid #fff;*/
}

.active_b{
  color: #f4b0af !important;
}
.navbar-default .navbar-nav > li > a i{
color: #fff;
    font-weight: bold;
    font-size: 19px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.one_i:hover{
  color: #0A63BC!important;
}
.two_i:hover{
  color: #6FAEDC!important;
}
.three_i:hover{
color:rgb(214,42,100)!important; 
}
.for_i:hover{
color:#F70000!important; 
}
.navbar-default .navbar-nav>li>a:hover{
color: rgb(237 151 151);
	
}



.nav>li{
  /*margin-left: 6px;*/
}
.navbar-default .navbar-brand{
padding: 24px 0px;
font-weight: bold;
color: black;
}
.navbar-default .navbar-brand:hover{
	color: black;
}
.navbar-default{
	
}
.dropdown-menu {
  background-color: rgba(248, 248, 248,.9);
  width: 200px;

}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #00a7d9;
    white-space: nowrap;
    font-weight: bold;
    font-size: 16px;
  }
/*End Navigation bar*/
/*Start Images Slider*/
  .section .carousel-inner>.item>a>img,.section .carousel-inner>.item>img, .section 
  .img-responsive,.section .carousel-inner .thumbnail a>img,.section .carousel-inner
   .thumbnail>img{
    width: 100%;
    height: 700px;
    max-height: 700px;
    opacity: 0.4;
  }


.carousel-caption h2{
color:#18191D;font-family: "Tajawal", sans-serif, cursive;font-size: 48px!important;
animation-delay: 1s;font-weight: bold;
}
.carousel-caption h1{
color:#25aae1;font-family: "Tajawal", sans-serif, cursive;font-size: 39px!important;
animation-delay: 1s;font-weight: bold;
}

.navbar-nav>li {
    /* float: left; */
    float: right!important;
   
}
/*

.section .carousel-inner .item{

    height: 100vh;

  }
  .section .carousel-inner .item .banner{
 -webkit-background-size: cover;
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
  }
*/

    @media (max-width: 1359px)
  {
.para_section p {
font-size: 22px!important;
}
.imgheader{
  width: 334px!important;
  height: 145px!important;
}
.carousel-caption h2{
  font-size: 36px!important;
}

.carousel-caption h1{
  font-size: 24px!important;
}
}

    @media (max-width: 1137px)
  { 

.imgheader{
  width: 300px!important;
  height: 140px!important;
}

.carousel-caption h2{
  font-size: 30px!important;
}

.carousel-caption h1{
  font-size: 20px!important;
}



  }

    @media (max-width: 1023px)
  { 
.para_section p {
font-size: 19px!important;
}
.imgheader{
  width: 233px!important;
  height: 140px!important;
}

.carousel-caption h2{
  font-size: 25px!important;
}

.carousel-caption h1{
  font-size: 18px!important;
}




  }

 @media (max-width: 992px)
  {
.imgheader{
  width: 233px!important;
  height: 140px!important;
}
.contact_p .conetnu_logo{
  border-right: none!important;
}
.carousel-caption h2{
  font-size: 30px!important;
}

.carousel-caption h1{
  font-size: 20px!important;
}

.we_are_you .article {
  margin-left: 0px!important;
}
.we_are_you .para {
    text-align: center!important;
}


  }
  @media (max-width: 900px)
  {
  .section .carousel-inner>.item>a>img, .section  .carousel-inner>.item>img,.section  
  .img-responsive,.section .thumbnail a>img,
   .section .thumbnail>img{
    width: 100%;
    height: 400px;
    max-height: 400px;    
  }
  .bottom_carsol {
font-size: 26px;
padding: 16px 0px;
  }
.imgheader{
  width: 162px!important;
  height: 87px!important;
}

.carousel-caption h2{
  font-size: 30px!important;
}

.carousel-caption h1{
  font-size: 24px!important;
}
.carousel-caption {
    top: 2%;
}
.carousel-caption .btn_inscri {
    padding: 2px 16px!important;
    font-size: 12px!important;
    margin-top: 13px!important;
}
}
  @media (max-width: 700px)
  {
  .section .carousel-inner>.item>a>img,.section .carousel-inner>.item>img, 
  .section .img-responsive,.section .thumbnail a>img,.section
   .thumbnail>img{
    width: 100%;
    height: 326px;
    max-height: 326px;  
  }
}



@media (max-width: 767px)
{
.show_lange{
  display: block!important;
}
.imgheader{

}
.navbar-default .navbar-nav > li > a {
    padding: 15px 9px;
}
.navbar-right {
    line-height: 31px;
    margin-right: 18px;
}

.navbar-nav>li {
  float: none!important;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
   
    width: 38px;
    height: 32px;
  }
.service .price .quarter-triangle{
  visibility: hidden;
}


}

  @media (max-width: 700px)
  {

    .bottom_carsol {
    font-size: 21px;
    padding: 13px 0px;
}

 .carousel-caption {
    top: -2%;
}
.imgheader {
    width: 139px!important;
    height: 66px!important;
}
.carousel-caption h1 {
    font-size: 21px!important;
}
.carousel-caption h2 {
    font-size: 23px!important;
}

  }
  @media (max-width: 501px)
  {
  .section .carousel-inner>.item>a>img,.section .carousel-inner>.item>img, .section
  .img-responsive,.section .thumbnail a>img,
   .thumbnail>img{
    width: 100%;
    height: 294px;
    max-height: 294px;    
  }
.service3 .box-shh p {
font-size: 36px;
}
  .bottom_carsol {
    font-size: 16px;
    padding: 11px 0px;
}


.section_three_nos h1 {
    font-size: 60px!important;
  }
.section_three_nos .grid_list h3 {
font-size: 18px!important;

}
  .carousel-caption h2 {
    font-size: 19px!important;
}
.carousel-caption h1 {
    font-size: 15px!important;
}
.imgheaderr {
     width: 90px!important;
     height: 46px!important;
     float: left;
 
    margin-left: 13px;
    margin-top: 5px;
    display: block!important;

}

.service .box-shh h4 {
font-size: 40px!important;
}
.service .box-shh p {
font-size: 20px!important;
}
.service .box-shh h3 {
font-size: 40px!important;
}

.move > img {
width: 211px!important;
height: 81px!important;
}
.imgheader {
width: 117px!important;
    height: 72px!important;

}
 .btn_inscri {
    padding: 2px 15px!important;
    font-size: 8px!important;
    margin-top: 15px!important;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    
    width: 32px!important;
    height: 32px!important;

  }



.phone_style{
  margin-left: 0px!important;
    margin-right: 0px!important;
    padding: 12px 0px!important;
}
.phone_style span{
  font-size: 16px!important;
}

.phone_style i{
      margin-left: 7px!important;
    font-size: 22px!important;
}

.social_media ul li {
    padding: 10px 0px!important;
}
.service {

padding: 48px 10px!important;
}
}
@media (max-width: 410px)
{
.section_three_nos h1 {
    font-size: 51px!important;
}




}

  @media (max-width: 390px)
  {
.imgheader {
    width: 100px!important;
    height: 72px!important;
}
.carousel-caption h2 {
    font-size: 17px!important;
}
.carousel-caption h1 {
    font-size: 14px!important;
}
.service3 .box-shh p {
font-size: 33px;
}
.service3 .box-shh {
padding: 70px 10px;
}

  }
/*End Images Slider*/
/*Start css 3 animation*/
@media(max-width: 1113px)
{
  .carousel-caption h1{
font-size:18px;

}
.carousel-caption p{
  font-size:13px!important;
}
}
.carousel-caption h2{
color:#fff;font-family: "Tajawal", sans-serif, cursive;font-size: 20px;
animation-delay: 1s;font-weight: bold;
}
.carousel-caption h1{
color:#ed9797;font-family: "Tajawal", sans-serif, cursive;font-size: 30px;
animation-delay: 1s;font-weight: bold;
}
.carousel-caption p{
font-size:16px;text-align:center;
animation-delay: 2s;
}
@media(min-width: 768px)
{
.carousel-caption{
    right: 20%;
    left: 20%;
    padding-bottom: 16%;
}
.carousel-caption .btn_inscri{
    padding: 5px 24px;
    font-weight: bold;
    font-family: 'Tajawal';
    font-size: 14px;
    color: #fff;
    background: #2BB4E9;
    font-size: 20px;
    border-radius: 29px;
    margin-top: 35px;
    /* border: 1px solid black; */
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out;
    box-shadow: -2px 1px 15px 1px black;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}


}
.carousel-caption .btn_inscri:hover{
  background: #24C1DD;
  border:1px solid white;
}
.carousel-caption .btn-college
{
    width: 126px;
    padding: 10px 12px;
    font-size: 17px;
    font-family: "dosis";
    font-weight: bold;
}
/*End css 3 animation*/
/*Start cover*/


.iconn a{
     color:white;  
}
.iconn i{
      background: rgb(237 151 151);
    width: 50px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    line-height: 50px;
    /* margin-bottom: 51px; */
    position: relative;
    bottom: -125px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.iconn i:hover{
background-color: #fff;
color: black;
}
/*End cover*/
/*start section 1*/
.section1 {
  padding:50px;
}
.section1 h2{
  color:#2e6da4;
  font-weight: bold;
}
.section1 p{
  text-align: justify;
}
.section1 img{
  width: 90%;
}
/*End Section 1*/


/*Start act*/
.acti{
  background-color: #F8F8F8;
  padding: 26px;
}
.acti img{
    width: 100%;
    height: 157px;
  }
.acti .box{
background-color: white;
padding-bottom: 7px;
margin-bottom: 6px;
}
.acti h2{
  font-weight: bold;
  font-size:33px;
  color:#346690;
  
}
@media(max-width: 600px)
{
  .acti h2{
  font-weight: bold;
  font-size:28px;
  
  
}
.acti .detail{
 font-size: 12px;
}
.acti .date{
  font-size: 12px;
  }
}
.acti h2:after {
  content: "";
  display:block;
  width: 65px;
  height: 5px;
  background-color: rgb(59, 207, 255);
  margin-right: 10px;
  margin: 20px auto;

}
.acti .date{
font-weight: normal;
font-style: italic;
color:gray;;
padding-top: 19px;
padding-left: 7px;

}
.acti .detail{
  text-align: justify;
  padding: 7px;
}
.acti .s{
  margin-left: 7px;
}
.acti  .tout{
  display: block;
  margin-top: 29px;
  font-weight: bold;

}
/*End act*/
/*Start derig*/ 
.derig{

  padding: 103px 9px 103px 9px;
background:#F8F8F8;
}
.derig img{
 
  display: inline-block;
  width: 100%;
  height: 100%;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;

}
.derig .img_box{
  height: 302px;
  overflow: hidden;
}

.derig h2{
  
    font-weight: bold;
    font-size: 33px;
    text-transform: uppercase;
}
.derig h2:after {
  content: "";
  display:block;
  width: 65px;
  height: 5px;
  background-color: #ed9797;
  margin-right: 10px;
  margin: 20px auto 35px;

}
.derig p{

    color: #e97777;
    font-size: 17px;
    font-weight: bold;
    /* padding: 5px 16px; */
    text-align: center;
   
    font-family: 'El Messiri';
}
.derig  h4{
     color: #b3a8a8;
    font-weight: normal;
    font-size: 15px;

}
.derig .btn_bottom{
padding: 11px 22px 11px 22px;
    font-family: "Tajawal", Sans-serif;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    color: black;
    /* background-color: #000000; */
    padding: 8px 56px;
    /* border-width: 2px 2px 2px 2px; */
    /* border-color: #FFFFFF; */
    border-radius: 23px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 7px 0px black;
}
.derig .btn_bottom:hover{
   color: black;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-decoration: none;

}

.derig .box-sh{
   /* padding: 0px 0px 39px 0px; */
    box-shadow: 0px 0px 1px 0px #000000;
    height: 491px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0px 0px 44px 44px;

}

.derig .box-sh:hover img{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    border:1px solid black;
  }


.mylast .box-sh{
   /* padding: 0px 0px 39px 0px; */
   
  
    cursor: pointer;
 

}
.mylast{
  padding: 64px 9px 121px 9px;
    background: #F8F8F8;
}
.mylast img {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.mylast .box-sh:hover img{
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    border:1px solid black;
  }
.mylast .img_box {
    height: 302px;
    overflow: hidden;
}
.mylast h2{
   
font-size: 33px;
    font-weight: bold;
    padding-top: 0px;
    text-align: center;
    
    

}
.mylast h2:after {
  content: "";
  display:block;
  width: 65px;
  height: 5px;
  background-color: #ed9797;
  margin-right: 10px;
  margin: 20px auto 35px;

}

.derig h3{
   
    font-size: 25px;
    font-weight: bold;
    padding-top: 0px;
    text-align: center;

}
/*End derig*/
/*Start form contact*/
.contact_nous{
  padding: 25px;

background: #1E1B1C;
}



.contact_nous h3{
      color: #fff;
    font-weight: bold;
    border-right: 6px solid #ed9797;
    padding-right: 9px;
    margin-right: -15px;
    margin-bottom: 39px;
}
.contact_nous ul{
  }
.contact_nous ul li{

list-style-type: none;
margin-top: 8px;

}

.contact_nous img {
  border: 1px solid #fff;
    margin-left: 9px;
}




.contact_nous ul a{
  color: #fff;
    font-size: 15px;
 
}


.contact_nous  h2{
  font-weight: bold;
  font-size:33px;
  color:#fff;
  text-align: center;
  text-transform:uppercase;
  
}
.contact_nous h2:after {
  content: "";
  display:block;
  width: 65px;
  height: 5px;
  background-color: rgb(59, 207, 255);
  margin-right: 10px;
  margin: 20px auto;

}
.contact_nous form{
  padding-top: 12px;
}
.contact_nous p{
  color: #fff;


}
.contact_nous button{
padding: 9px 22px 8px 22px;
margin-top: 10px;
    font-family: "Tajawal", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    background-color: #000000;
    border-style: solid;
    /* border-width: 2px 2px 2px 2px; */
    /* border-color: #FFFFFF; */
    border-radius: 10px 10px 10px 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: -2px -1px 9px 2px #fff;
  }
.contact_nous ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #337ab7;
  font-family: 'El Messiri', sans-serif;
}
.contact_nous ::-moz-placeholder { /* Firefox 19+ */
  color: #337ab7;
  font-family: 
}
.contact_nous :-ms-input-placeholder { /* IE 10+ */
  color: #337ab7;
}
.contact_nous :-moz-placeholder { /* Firefox 18- */
  color: #337ab7;
}
/*En form contact*/



/*Start  Footer*/
 /*Start Footer*/
 .footer{
    /* border-top: 1px solid gray; */
    background-color: black;
    /* background-image: url(../img/cover.png); */
   padding: 12px;
    color: #fff;
  }
  .footer p{
color: #fff;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
  }
  .footer h3:after{
  content: "";
  display:block;
  width: 30px;
  height: 3px;
  background-color: #337AB7;
  margin-top: 17px;
  margin-bottom: 17px;

  }
  .footer h3{
    color:black;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: bold;

  }
  .icon{
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .icon a{
   text-decoration: none;
    border: 1px solid #776767;
    text-align: center;
    width: 45px;
    line-height: 43px;
    font-size: 23px;
    height: 45px;
    border-radius: 50%;
    padding: 2px;
    background-color: #b1bcbf;
    display: inline-block;
    /* float: left; */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
    
  }
  @media(max-width: 600px)
  {
    .icon a{
      width: 44px;
      height: 44px;
      }
  }
  .icon a:nth-child(1)
  {
    color:#3B5998;
  }
  .icon a:nth-child(1):hover
  {
    background-color: #3B5998;
    color:white;
  }
  .icon a:nth-child(2)
  {
  color:#6FAEDC;
     }
  .icon a:nth-child(2):hover
  {
    background-color: #6FAEDC;
    color:white;
  }
     .icon a:nth-child(3)
     {
     color:#F3F3F3;
     }
  .icon a:nth-child(3):hover
  {
     background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color:white;
  }
     .icon a:nth-child(4)
     {
      color:#F3F3F3;
     }
  .icon a:nth-child(4):hover
  {
    background-color: #1789BA;
    color:white;
  }
     .icon a:nth-child(5)
     {
      color:#CC181E;
     }
       .icon a:nth-child(5):hover
  {
    background-color: #CC181E;
    color:white;
  }
  .l{
    margin-left: 5px;
  }

  .clear{
    clear: both;
  }
  .pied p{
    border-top: 1px solid gray;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/cover.png);
    color: #fff;
    padding:13px;
    margin:0px;

  }
  @media(max-width: 600px)
  {
  .pied p{
    font-size: 13px;
  }
  }

    @media(max-width: 474px)
  {
  .pied p{
    font-size: 11px;
  }
  }
   /*End Footer*/
   /*Start flesh*/
 .flech{
  display: none;
 }
   .flech i{
    font-size:18px;
    color:#fff;
    background-color: #ed9797;
    opacity: 0.7;
    position: fixed;
    right: 28px;
    bottom: 5px;
    padding: 14px 18px;
    cursor: pointer;
   }
   /*End flesh*/
/*Start page Meternelle*/
.maternelle h2{
  color:white;
  text-align: center;
  font-weight: bold;
  padding:20px;
  font-size: 39px;
  font-family: 'Leckerli One', cursive;
}
.cycle{
  padding:40px;
}
.cycle .menu_verticale {

  list-style-type: none;
  border:0.5px solid #D1D3D4;
  border-radius: 9px;
 font-family: 'Leckerli One', cursive;

}
.cycle .menu_verticale li { 
    border-bottom: 1px solid #D1D3D4;
    padding: 10px 17px;
  }
  .cycle .menu_verticale li i{
color:#D1D3D4;
font-size: 22px;
  }
.cycle .menu_verticale a{
    color: #D1D3D4;
    font-size: 22px;
    padding-left: 10px;

}
.act_m{
  color:rgb(0, 167, 217)!important;
}
.cycle .menu_top ul li{
  float: left;
  margin-right: 10px;
  list-style-type: none;
}
.cycle .menu_top ul li a{
  margin-right: 10px;
  color:#00a7d9;
}
.clear{
  clear: both;
}
.cycle .pre{
    color: #00a7d9;
    font-family: 'Leckerli One', cursive;
    font-size: 34px;
    padding: 13px 0px;
}
.cycle .para_m{
    text-align: justify;
    font-size: 17px;
    margin: 17px 0px;
}
.cycle .apprendre{
    margin-left: 31px;
    font-size: 17px;
}
.cycle .inscri_m{
  border-radius: 10px;
  padding: 24px 27px;
  margin-top: 30px;
  margin-bottom: 50px;

}
.cycle .inscri_m h2{
    margin-top: 0px;
    font-weight: bold;
    color: #fbf4f4;
    font-family: 'Leckerli One', cursive;
   
}
.cycle .inscri_m p{
    color: #fbf4f4;
    font-weight: bold;
    font-size: 17px;
}
.cycle .inscri_m a{
    font-size: 38px;
    font-weight: bold;
    color: #fbfbfb;
    border: 1px solid #fbfbfb;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgba(109, 120, 158, 0.4);
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.cycle .inscri_m a:hover{
  text-decoration: none;
  background-color: #f8f8f8;
  color:black;
}
.cycle .inscri_m i{
  padding-right: 10px;
}

.cycle .menu_pédagie{
  margin-top: 20px;
}
.cycle .menu_pédagie .list-menu{
    background-color: #CEC2AB;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #00a7d9;
    border-bottom-width: 0px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: -5px;
}
.cycle .menu_pédagie .list-menu li{
    padding: 16px 27px;
    color: white;
    font-size: 19px;
    float: left;
    cursor: pointer;
}
.act_color{
  background-color: #00a7d9;
}
.cycle .menu_pédagie .list-menu li:hover{
background-color: #00a7d9;
}
.cycle .menu_pédagie .tabs_content div:not(.one)
{
  display: none;
}
.cycle .menu_pédagie .tabs_content{
    border: 1px solid #00a7d9;

    padding: 15px;
    border-radius: 0px 0px 10px 10px;
  }
 .cycle .menu_pédagie .list-contenu{
    font-size: 17px;
    padding-left: 41px;
    padding-top: 12px;
  }
  .cycle .menu_pédagie p{
    font-size: 17px;
    text-align: justify;
  }
  .cycle .carre{
    height: 480px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .carre h3{
    color:white;
    margin-top :30px;
  }
  .carre h1{
    font-size: 32px;
    text-transform: uppercase;
    padding: 15px;
    font-family: 'dosis';

  }
  .carre img{
    width: 65%;
  }
/*End page maternelle */
/*Start pole artistique*/

        
/*End pole artistique*/
/*Start acord*/
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.set > a{
    text-decoration: none;
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
    font-size: 22px;
    font-weight: 400;
    background-color: rgb(0, 167, 217);
}
.set > a i{
    padding-right: 10px;
    font-size: 19px;
    padding-bottom: 10px;
}
.content{
  position:relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
.content p{
  padding: 10px 15px;
  margin: 0;
  text-align: justify;
  color: #333;
  font-size: 17px;
}
/*End acord*/
/*Start page preinscription*/
.preinscription h2{
    font-family: 'Leckerli One', cursive;
    color: white;
    font-weight: bold;
    font-size: 39px;
    text-align: center;
    padding-top: 13px;
}
.preinscription p{
  color:white;
  text-align: center;
  font-size: 17px;
  padding-bottom: 40px;
}
.preinscription ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #337ab7;font-family: "dosis";
}
.preinscription ::-moz-placeholder { /* Firefox 19+ */
  color: #337ab7;font-family: "dosis";
}
.preinscription :-ms-input-placeholder { /* IE 10+ */
  color: #337ab7;font-family: "dosis";
}
.preinscription :-moz-placeholder { /* Firefox 18- */
  color: #337ab7;font-family: "dosis";
}
.preinscription .form-control{
    border-radius: 15px;
    padding: 18px;
    margin-bottom: 21px;
}
.preinscription textarea{
  height: 150px;
}
.preinscription .btn-primary{
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
}
.preinscription form{
  padding-bottom: 50px;
}
.preinscription .file_upload{
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 21px;
    background-color: white;

}

.preinscription .file {
  visibility: hidden;
  position: absolute;
}
.preinscription .frm{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.preinscription .input-group{
margin-bottom: 22px;
}
.preinscription img{
    width: 100%;
    height: 340px;
    border: 5px solid white;
    border-radius: 10px 10px 0px 0px;
}
.preinscription .input-group-addon{
border-radius: 15px 0px 0px 15px;
}
.preinscription .btn-danger{
 border-radius:0px 15px 15px 0px;
 background-color: #337ab7;
 border:1px solid #337ab7;
}
/*End page preinscription*/

/*Start Popover*/
.popover{background-color:#BE4B49;}
.popover-content{color:white}
.popover.bottom>.arrow:after{border-bottom-color: #BE4B49;color:white;}
/*End popover*/
/*Start Detail*/
.detail .date_p{
  color:gray;
  padding: 10px 0px;
  font-style: italic;
}
.detail p{
text-align: justify;
}
.detail img {
  width: 100%;
  padding-bottom: 36px;
  height: 500px;
}
.detail .btn-primary {
    color: #fff;
    background-color: #2F9AA7;
    border-color: #2e6da4;
    padding: 9px 29px;
    font-weight: bold;
}
.detail .btn-primary:hover{
  background-color: #337ab7;
}
/*End Detail*/

/*Start galeries*/
.slider{
  width: 95%;
  height: 353px; /*Same as width of the large image*/
  position: relative;
  /*Instead of height we will use padding*/
  padding-top: 260px; /*That helps bring the labels down*/
  
  margin: 90px auto;
  
  /*Lets add a shadow*/
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}


/*Last thing remaining is to add transitions*/
.slider>img{
  position: absolute;
  left: 0; top: 0;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}

.slider input[name='slide_switch'] {
  display: none;
}

.slider label {
  /*Lets add some spacing for the thumbnails*/
  margin: 103px 0 0 23px;
  border: 3px solid #999;
  
  float: left;
  cursor: pointer;
  transition: all 0.5s;
    height: 101px;
    width: 133px;
  /*Default style = low opacity*/
  opacity: 0.6;
}

.slider label img{
  display: block;
  height: 100%;
  width: 100%;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
  border-color: #666;
  opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
  opacity: 0;
  transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
  opacity: 1;
  transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/
/*End galeries*/
/*Start Slider galereis*/
#carousel,
#carousel-thumbs {
  max-width: 500px;
  margin: 15px auto;
}
#carousel-thumbs .item img {
  opacity: 0.5;
}
#carousel-thumbs .item.active div.active img {
  opacity: 1;
  border: 2px solid #000;
}
#carousel-thumbs .item.active div:not(.active) img {
  cursor:pointer;
}
#carousel-thumbs .carousel-control {
  background-image: none;
}

.sliderr .carousel-inner>.item>a>img,.sliderr .carousel-inner>.item>img,.sliderr .img-responsive,.sliderr .thumbnail a>img,.sliderr .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 353px;
    width: 100%;
}
.slidee .carousel-inner>.item>a>img,.slidee .carousel-inner>.item>img,.slidee .img-responsive,.slidee .thumbnail a>img,.slidee .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    height: 100px;
    width: 100%;
  }
.cycle   #carousel,.cycle  #carousel-thumbs {
    max-width: 95%;
}

/*End Slider gam*/
/*Start Contact*/
.contact{
padding-bottom: 20px;
padding-top: 20px;
}
.contact  .message_f {
  margin-top: 5px;

  }
.contact h2{
  font-weight: bold;
}


.contact .adress_c
{
  padding: 15px 0px;
}
/*end Contact*/
/*Start form contact*/
.conetnu1  form{
  padding-top: 8px;
}
.conetnu1 form input{
  margin-bottom: 10px;
}
.conetnu1 form textarea{
  height: 150px;
  resize: none;
  margin-bottom: 5px;
}
.clear{
  clear: both;
}



.conetnu1 ul li{
  float: left;
    font-weight: bold;
    border: 1px solid #DFDFDF;
    padding: 9px 14px;
    background-color: #FDFDFD;
    cursor: pointer;
}

.conetnu1 .style_css{
  
  border-top:2px solid  #43B7C2!important;
  border-bottom: none!important;
  background-color: white!important;
  color:#5D6062!important;
}
.conetnu1 ul li i{
    color: #4D4F54;
    padding: 8px 66px;
    font-size: 19px;

}
.conetnu1{
  width: 532px;
}

.conetnu1 p{
      text-align: justify;
     padding-top: 22px;
     color: #65686D;
}

.conetnu1 .tabs_content div:not(.one)
{
  display: none;
}
@media(max-width: 1120px)
{
   .conetnu1{
    width: 400px;
  }
  .conetnu1 ul li{
     
      font-size: 11px;
      width: 133px;
      padding: 9px 6px;
      font-weight: normal;
  }
   .conetnu1 p{
    font-size: 12px;
  }
}
@media(max-width: 992px)
{   
  .service3 .box-shh h3 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(237 151 151);
    /* padding: 10px; */
    font-family: 'Tajawal';
    text-align: center!important;
}
.service3 .box-shh h4{
  margin: auto!important;
}
.service3 .box-shh p {
    color: #bbbbbb;
    font-size: 15px;
    font-family: 'Tajawal';
    /* font-weight: bold; */
    text-align: center!important;
}
   .conetnu1{
    width: 82%;
    margin:auto;
  }
  .conetnu1 ul li{
      clear: both;
      width: 100%;
      text-align: center;
      font-size: 13px;
      font-weight: bold;
  }
    .conetnu1 p{
    font-size: 15px;
  }
}

/*Start form we are you*/
.we_are_you{

      padding: 150px 0px;
    
        background-image: url(../imggg/banner3.png);
    background-repeat: no-repeat;

    
}
.we_are_you .conetnu{
  /* background-image: url(../img/logopin.jpg);
   background-repeat: no-repeat;
   height: 500px;*/
   text-align: center;
}

.we_are_you .conetnu h4{
      font-size: 60px;
    color: #fff;
 
    font-weight: bold;
}


.we_are_you .conetnu p{
  color: #ed9797;
    font-size: 24px;
    font-weight: bold;
}
.we_are_you .conetnu a{
    color: #fff;
    background: #ed9797;
    padding: 15px 23px;
    border-radius: 29px;
    font-weight: bold;
    display: inline-block;
    margin-top: 11px;
    margin-right: 12px;  
}
.we_are_you .heading_about,.we_are_you  .paragpra_about{
  font-weight: bold;
}
.we_are_you h1{
font-size: 50px;
}
.we_are_you h2:after {
  content: "";
  display:block;
  width: 65px;
  height: 5px;
  background-color: rgb(59, 207, 255);
  margin-right: 10px;
  margin: 20px auto;

}
.we_are_you h2{
  font-weight: bold;
  font-size:33px;
  color:#346690;
  
}

.we_are_you  .pr{
  width: 676px;
  font-size: 18px;
  font-weight: 500;
font-family: 'Dosis', sans-serif;
  color:black;
text-align: justify;
text-align-last: center;
}

@media(max-width: 860px)
{   
   .iconn i {
 
    width: 40px;
    height: 40px;
    font-size: 18px;

    line-height: 40px;
    /* margin-bottom: 51px; */
    position: relative;
    bottom: -29px;

    }
   .we_are_you  .pr{
  width:100%; 
  font-size:15px;
text-align: justify;
text-align-last: center;
   }


  }
  
  @media(max-width: 670px){

    .iconn i {
 
    width: 40px;
    height: 40px;
    font-size: 18px;

    line-height: 40px;
    /* margin-bottom: 51px; */
    position: relative;
    bottom: -29px;

    }
.we_are_you .article
{
  margin-left: 0px!important;
}
.we_are_you .para{
  text-align: center!important;
}
}
.we_are_you .article{
  margin-left: 112px;
  margin-top: 22px;
}

.we_are_you  .icon_pict{
text-align:center;
margin-top: 31px;

}

.we_are_you  .icon_pict i{
font-size: 50px;
}
.we_are_you  .icon_pict .one{
color:#45CAE2;
}
.we_are_you  .icon_pict .two{
color:#F5D452;
}
.we_are_you  .icon_pict .three{
color: #84B813;
}
.we_are_you  .para{
text-align: right;
}

.we_are_you .sectionn2{
margin: 60px 0px;
}
/*End form we are you*/
/*start client wraper*/

.slideshow {
height: 227px;
    margin: 0 auto;
    position: relative;
    transform: translate3d(0, 0, 0);
    display: flex;
    width: 61%;
    overflow: hidden;

}

.move {
  height: 100%;
  transform: translate3d(0, 0, 0);
  display: flex;
  animation: moveSlideshow 16s linear infinite;
}

.moveee {
  height: 100%;
  transform: translate3d(0, 0, 0);
  display: flex;
  animation: moveSlideshoww 16s linear infinite;
}
@keyframes moveSlideshoww {
100% {
    transform: translateX(-100%);
}
0% {
    transform: translateX(0%);
}
}

.moveee >img,.move > img {
height: 186px;
    width: auto;
    width: 186px;
    margin-right: 60px;
    background: #fff;
    padding: 3rem;
}


.slideshow:hover .move {
  animation-play-state: paused;
}

@keyframes moveSlideshow {
0% {
    transform: translateX(0%);
}
100% {
    transform: translateX(100%);
}
}









.client_c{
    padding: 53px 0px;
    background: #fff;
}
.client_c  h2 {
    color: black;
    font-weight: bold;
    font-size: 33px;
    text-transform: uppercase;
}
.client_c h2:after {
    content: "";
    display: block;
    width: 65px;
    height: 5px;
    background-color: rgb(59, 207, 255);
    margin-right: 10px;
    margin: 20px auto 35px;
}


.sliddder {
  height: 110px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 77%;
}

.sliddder .slide-track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.sliddder .slide {
  height: 100px;
  width: 250px;
}

.sliddder .slide img {
    width: 80%;
  height: 100px;

}

@-webkit-keyframes scrolll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scrolll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}


/*End client wraper*/

/*Start form service two*/
.service_two{
    padding: 60px 10px;
    background: #f8f8f8;
    border-top: 1px solid black;
   
}

.service_two .para_service{
      font-size: 27px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 54px;
}
.service_two .box-shh h3{
font-size: 28px;
    font-weight: bold;
    color: #fdf8f8;
    padding: 10px;
    margin: auto;
    font-family: 'Tajawal';
    background: #ed9797;
    width: 82px;
    height: 82px;
    line-height: 62px;
    border-radius: 50%;
}
.service_two .box-shh h2{
    font-family: 'Tajawal';
    font-weight: bold;
    color: #ed9797;
    font-size: 19px;
    text-align: center;
    padding-top: 10px;
}

.service_two h4:after {
    content: "";
    display: block;
    width: 65px;
    height: 5px;
    background-color: #ed9797;
    margin-right: 10px;
    margin: 20px auto;
}
.service_two h4 {
    font-weight: bold;
    font-size: 33px;
    color: black;
    margin-bottom: 42px;
}
.service_two .box-shh{
padding: 20px 16px 20px 7px;
    width: 100%;
    /* height: 460px; */
    cursor: pointer;
    /* background-attachment: fixed; */
    /* background-image: url(../img/back1.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 4px 0px #ed9797;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  
  }
.service_two .box-shh:hover{
  background: black;

}
  .service_two .box-shh p{

color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Tajawal';
    text-align: center;
    text-align: center;

  }
/*End form Service two*/




/*Start form service*/
.service3{
background:#F8F8F8;
}
.service3 .box-shh{
      
 
   padding: 20px 10px;
}

.box_1{
  
}
.box_2{
 
}
.box_3{

}
.box_4{
  
}
.service3 .box-shh h4{
color: #fff;
    font-size: 23px;
   /* margin: 0px !important;*/
    background: rgb(237 151 151);
    border-radius: 50%;
    height: 86px;
    width: 90px;
    line-height: 68px;
    border: 10px solid rgb(237 151 151);
}
.service3 .box-shh img{
  width: 100%;
}
.service3 .btn_bottom{
      padding: 9px 22px 8px 22px;
    font-family: "Tajawal", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    background-color: #000000;
    border-style: solid;
    /* border-width: 2px 2px 2px 2px; */
    /* border-color: #FFFFFF; */
    border-radius: 10px 10px 10px 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: -2px -1px 9px 2px #fff;
}
.service3 .btn_bottom:hover{
   color: black;
    background-color: #FFFFFF00;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #FFFFFF;
    text-decoration: none;

}

.disable_space{
  padding-right: 0px!important;
   padding-left: 0px!important;
}
.service3 .box-shh h3{
font-size: 18px;
    font-weight: bold;
   color:rgb(237 151 151);
    /* padding: 10px; */
    font-family: 'Tajawal';
    text-align: right;
}
.service3 .box-shh{

    /* border-style: dashed; */
    /* border-width: 1px 1px 1px 1px; */
    /* border-color: #ffffff; */
     border-radius: 99999px;
     background: black; 
    border: 1px solid #9f9999;
    margin: 36px 6px;
    
}
.service3 .box-shh:hover{
  border:1px solid orange;
}
.service3 .box-shh p{
    color: #bbbbbb;
    font-size: 15px;
    font-family: 'Tajawal';
    /* font-weight: bold; */
    text-align: right;

  }
/*End form Service*/






/*Start form service*/
.service{
  background-attachment: fixed;

}
.service .box-shh h4 {
    color:black;
    font-size: 42px;
    margin: 0px!important;
}

.service .box-shh h3{
  font-size: 43x;
    font-weight: bold;
    color: black;
    padding: 10px;
    font-family: 'Tajawal';
}
.service .box-shh{
padding: 50px 0px 50px 0px;
    /* border-style: solid; */
    /* border-width: 1px 1px 1px 1px; */
    /* border-color: #2C2C2C; */
    /* border-radius: 2px 2px 2px 2px;*/
}
.service .box-shh p{
    color: black;
    font-size: 23px;
   
    font-family: 'Tajawal';
    font-weight: bold;
  }
/*End form Service*/
/*start buy product*/
.sectionbuy .box_buy{

    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 14px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 1px 4px black;
    margin-bottom: 72px;
}
.sectionbuy .box_buy:hover{
  color:#fff;
  background:#24C1DD;
}
.sectionbuy .box_buy h3{
padding: 3px 0px 47px 0px;
font-size: 30px;

}
 .sectionbuy .box_buy .form-control{
  width:85%;
 }

  .sectionbuy .box_buy .one{
    margin-bottom: 10px;
  }
    .sectionbuy .box_buy .two{
    margin-bottom: 10px;
  }
    .sectionbuy .box_buy label{
      line-height: 29px;
  }

.sectionbuy .box_buy ul i{
font-size: 26px;
    margin-left: 12px;
  }


.sectionbuy .box_buy .fikra p{
  display: inline-block;
    padding: 0px 24px;
    float: right;
}

.sectionbuy .box_buy .fikra i{
    font-size: 26px;
    margin-right: 12px;
    text-align: right;
    display: inline-block;
    float: right;
}
.sectionbuy .box_buy .fikra span{
float: left;
font-weight: bold;
}
.clear{
  clear: both;
}

.green{
  color:#5fb15f;
}

.red{
  color: #ffa8a8;
}

.btnbuy{


padding: 8px 26px;
    background: #24C1DD;
    font-weight: bold;
    font-size: 14px;
    border-radius: 29px;
    margin: 33px 0px;
    display: inline-block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #fff;

  }

  .btnbuy:hover{
color: black;
background: #FFFFFF;
text-decoration: none;
  }

  .header_bay h2:after {
  content: "";
  display:block;
  width: 65px;
  height: 5px;
  background-color: rgb(59, 207, 255);
  margin-right: 10px;
  margin: 20px auto;

}
.header_bay h2{
  font-weight: bold;
  font-size:33px;
  color:#346690;
  text-align: center;
  margin-top: 50px;
  
}
.header_bay p{
  text-align: center;
    font-size: 15px;
    margin-bottom: 50px;
    color: #4a3f3f;
}
/*end buy product*/
/*Start style form */
.style_form{
  width:80%;margin:auto;
}
.radiostyle{
  width: 81px;
 height: 34px;
}




.alert-info{
    color: white!important;
    background-color: black!important;
    border-color: #bce8f1;
    font-weight: bold!important;
    font-size: 16px!important;
}

.stylfr{
  margin-bottom: 11px;
}
/*End style form*/




/*Start page exercice*/
.exercice{
   background-image: url(../img/header.jpg);
  
    background-size: cover;
}
.exercice h1{
    padding: 36px 0px;
    font-size: 37px;
    font-weight: bold;
    font-family: Tajawal;
}
.para_section{
  padding: 80px 0px;
}
.para_section h3{
font-size: 25px;
    font-family: 'Tajawal';
    color: black;
    padding: 0px 0px 20px 0px;
    font-weight: bold;

}
.para_section p{
  font-size: 25px;
    text-align: justify;
}
.para_section img{
width: 100%;
padding: 12px 0px 0px 0px;
}
.para_section ul{
  margin-right: 17px;
    text-align: justify;

}
.para_section ul li{
font-size: 20px;
}
.para_article{
  margin-top: 10px;
}
/*End page exercice*/


/*Start contact p*/
.contact_p{
  margin-top: 32px;
}
.contact_p .logo_c i{
  font-size: 36px;
  color: #ed9797;
    /* text-align: center; */
    border: 2px dotted  #ed9797;
    padding: 4px;
    width: 58px;
}
.contact_p .conetnu_logo{
text-align: center;
    border-right: 1px solid gray;
    height: 162px;
}
.none{
border-right: none!important;
}


.form-controll{
  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.contact_p_moi {
    padding: 9px 22px 8px 22px;
    margin-top: 10px;
    font-family: "Tajawal", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    color: #fff;
    background-color: #ed9797;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    /* border-color: #FFFFFF; */
    border-radius: 10px 10px 10px 10px;
    /* -webkit-transition: all 0.5s ease-in-out; */
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    box-shadow: -1px 0px 10px 0px black;
}
.contact_p_moi:hover{
  background-color: black;!important;
}
/*End contact p*/




/*Start nos*/
.section_two_nos{
    background-attachment: fixed;
    background-image: url(../img/back1.jpg);
    padding: 50px 0px 50px 0px;
    background-size: cover;
    background-position: bottom center;
}

.section_two_nos p{ 
  text-align: justify;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 40px;
}

.section_three_nos{
    margin: 100px 0px;
}
.section_three_nos h1{
    font-size: 66px;
    font-weight: revert;
    font-family: 'Tajawal';
    color: #CFCFCF;
}
.section_three_nos .grid_list{
    border: 1px dashed gray;
    width: 90%;
    padding: 15px;
}
.section_three_nos .grid_list h3{
    color: #929292;
    font-size: 22px;
    font-weight: 600;

}
.section_three_nos .grid_list h3 ul{
  padding-right: 12px;
  padding-left: 12px;
}
/*End nos*/
/*End form Contact*/



/*Start info*/
.info{
      background: #181516;
    color: #fff;
    padding: 24px 0px;
}
.info .box-shh h3{
font-size: 19px;
    font-size: 24px;
    font-weight: bold;
    color: #fdf8f8;
    padding: 6px;
    font-family: 'Tajawal';
    background: #ed9797;
    width: 71px;
    height: 66px;
    line-height: 53px;
    border-radius: 50%;
}

.info .box-shh h2,.info .box-shh p{
text-align: right;

}

/*End info*/




/*Start Basket*/
.basket{

}
.mypara p{
    color: black !important;
    text-align: justify;
    margin-bottom: 27px;
    font-weight: normal;
    font-size: 19px;
}
.mypara h5{
  font-weight: bold;
    color: black;
    font-size: 18px;
}
.basket h4{
  color: black;
    font-weight: bold;
}

.basket_empty .bas{
  font-size: 46px!important;
}
.bask .mybutton_basket{
  background: black!important;
    color: white!important;
}
.bask .title_order{
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.content_or{
  padding: 25px 0px;
}

.bask .all_price{
font-size: 17px;
    font-weight: bold;
}


.bask .total_price{
font-weight: bold;
}


.basket td{
  width: 12%;
}

.brand
/*End Basket*/